@page "/login"

<section class="vh-100 login">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Авторизация</h5>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Почта" value="@_email"
                            @oninput="(val) => { _email = (string)val.Value;  }"
                            @onkeydown="OnKeyDown">
                            <label for="floatingInput">Почта</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" value="@_password"
                            @oninput="(val) => { _password = (string)val.Value; }"
                            @onkeydown="OnKeyDown">
                            <label for="floatingPassword">Пароль</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold"
                                    disabled="@(!Validate())"
                            @onclick="SignIn">
                                Войти
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>