@if (Visible)
{
    <div class="modal fade show" tabindex="-1" role="dialog"
         style="padding-right: 15px; display: block;">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
    </div>
}