<div class="card">
    <h5 class="card-header">Изменение пароля</h5>
    <div class="card-body">
        <div class="row g-3">
            <div class="col-xl-6 col-sm-12">
                <label>Пароль</label>
                <input type="password" class="form-control form-control-sm" @bind-value="_changePasswordPar.Password">
            </div>
            <div class="col-xl-6 col-sm-12">
                <label>Новый пароль</label>
                <input type="password" class="form-control form-control-sm" @bind-value="_changePasswordPar.NewPassword">
            </div>
        </div>
    </div>
</div>
<br />
<div class="d-flex justify-content-end">
    <div>
        <button class="btn btn-secondary" @onclick="ShowWarrning">Отмена</button>
    </div>
    <div class="mg-left-5">
        <button class="btn btn-primary" @onclick="() => _spinnerService.RunAsync(Change)" disabled="@(!Valiade())">Сохранить</button>
    </div>
</div>